
*{ 
    margin: 0px;
    padding: 0px;
    border: 0;
    font-family: sans-serif;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #ECEEF1;
}

.main-container{
    width: 398px;
    margin: auto;
    border: 3px solid black;
}

.intuit-logo-img {
    width: 160px;
    display: flex;
    margin: auto;
    opacity:.7;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
}

.header-icons {
    width: 25px;
    height: 25px;
}

.header-text {
    margin-left: 5px;
    margin-right: 10px;
}

/*********************************/

.form-table {
    text-align: center;
    width: 398px;
    margin: auto;
    margin-top: 20px;
    background: white;
    border: 1px solid blue;
}

.title-form-text {
    margin-top: 30px;
    opacity: .8;
    font-weight: lighter;
}

.description-form-text {
    margin-top: 20px;
    opacity: .6;
}

.anchor-form {
    font-size: 12px;
}

.form-sign {
    text-align: left;
    width: 318px;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    margin-top:30px;
}

input {
    width:318px;
    margin-top: 10px;
    margin-bottom: 35px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 40px;
}

#su-button {
    background-color: #0077C5;
    color: white;
    height: 3rem;
    border: 1px solid black;
}

.end-text {
    font-size: 12px;
    font-style: italic;
    color: black;
    opacity: .9;
    text-align: center;
    font-size: 13px;
    padding-bottom: 35px;
}

#container-recaptcha {
    background-color: #eceef1;
    width: 100%;
    border: 1px solid black;
}

.recaptcha {
    text-align:center;
    font-size: 10px;
    color: #8d9096;
    padding: 10px;
}
